#headertxt{
    color: white;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 20px;
}

header{
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 50px;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
}

#columnheader{
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    padding-top: 10%;
    color: #424242;
    font-size: 40px;
}

#columndescr{
    font-family: "Source Sans Pro", sans-serif;
    text-align: center;
    color: rgb(184, 184, 184);
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
    line-height: 30px;
    font-size: 20px;
}

#form{
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
}

label{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    color: rgb(85, 85, 85);
}

.search-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    padding: 0% 12%;
}

#search{
    padding: 15px 20px;
    border-radius: 30px;
    background-color: #f7f7f7;
    border-width: 0px;
}

.hide{
    display: none;
}

#results{
    height: 200px;
    overflow: scroll;
    width: 100%;
}

.header{
    font-family: "Source Sans Pro", sans-serif;
    word-break: break-all;
    margin-bottom: -15px;
}

.body{
    font-family: "Source Sans Pro", sans-serif;
    font-size: 12px;
    margin-bottom: -20px;
    color: #878787;
    margin-bottom: 10px;
}
.card{
    width: 80%;
    padding: 0% 12%;
}
