h1{
    font-family: "Source Sans Pro", sans-serif;
    color: #019eec;
    text-align: center;
    margin-top: 170px;
    margin-bottom: -5px;
    font-size: 40px;
}

#image{
    text-align: center;
    margin-bottom: -30px;
}


p{
    width: 350px;
    font-family: "Source Sans Pro", sans-serif;
    color:rgb(184, 184, 184);
}

#button{
    text-align: center;
}

button{
    width: 350px;
    background-color: #019eec;
    color: white;
    font-size: 12px;
    padding: 12px 20px;
    margin-top: 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
